<!DOCTYPE html>
<html>
  <head>
    <title>Reddit On Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <ul>
          <li> <%= link_to current_user.user_name, user_url(current_user) %> </li>
          <li><%= link_to "New sub", new_sub_url %></li>
          <li><%= link_to "My subs", subs_url %></li>
          <li><%= button_to "Log out", session_url, method: :delete %></li>
        </ul>
      <% else %>
        <ul>
          <li> <%= button_to "Sign up", new_user_url, method: :get %> </li>
          <li> <%= button_to "Log in", new_session_url, method: :get %> </li>
        </ul>
      <% end %>
    </header>

    <ul class="flash">
      <% flash_messeges = flash[:errors] || flash[:notice] %>
      <% flash_messeges.try(:each) do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
