<!DOCTYPE html>
<html>
  <head>
    <title>Reddit On Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="flash">
      <% flash_messeges = flash[:errors] || flash[:notice] %>
      <% flash_messeges.try(:each) do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
